<div class="c-swiper-arrows {{ modifier_class }}">
  <div class="c-swiper-arrows__arrow-box swiper-button-prev">
    <svg class="c-icon c-icon--chevron-left c-swiper-arrows__arrow">
      <use xlink:href="#c-icon--chevron-left"></use>
    </svg>
  </div>
  <div class="c-swiper-arrows__arrow-box swiper-button-next">
    <svg class="c-icon c-icon--chevron-right c-swiper-arrows__arrow">
      <use xlink:href="#c-icon--chevron-right"></use>
    </svg>
  </div>
</div>
