// Button
//
// Markup:
// <a href="#" class="c-button {{modifier_class}}">Button Element</a>
// <button class="c-button {{modifier_class}}">Button Element</button>
// <input class="c-button {{modifier_class}}" type="button" value="Input Button" />
//
// :hover - When user hovers over button.
// :focus - When button is focused.
// .c-button--small - A small button.
// .c-button--large - A large button.
// .c-button--primary - Primary button.
// .c-button--outline - Outline button.
// .c-button--ghost - Ghost button.
//
// Styleguide Components.Button

@import '../../../../node_modules/buttono/buttono';

$buttono-font-family: $g-font-family-base;
$buttono-border-radius: $g-border-radius;
$buttono-font-size: px-to-rem($g-font-size-base-px - 2px);
$buttono-padding: px-to-rem(8px) px-to-rem(32.5px);
$buttono-border-width: px-to-rem(1px);
$buttono-background-color: transparent;

.c-button {
  @include buttono-block($display: inline-flex);
  min-height: px-to-rem(48px);
  align-items: center;

  &--small {
    min-height: px-to-rem(44px);
    font-size: px-to-rem($g-font-size-base-px - 4px);
  }

  &--large {
    min-height: px-to-rem(56px);
    font-size: px-to-rem($g-font-size-base-px);
  }

  &--primary {
    @include buttono-style-modifier(
      $background-color: color-palette('primary', 500),
      $background-color-hover: color-palette('primary', 600),
      $color: $color-white,
      $border-color: $primary-color
    );
    &:active {
      background-color: color-palette('primary', 700);
      border-color: currentColor;
      color: $color-white;
    }
  }

  &--outline {
    @include buttono-style-modifier(
      $background-color-hover: color-palette('primary', 50),
      $color: $primary-color,
      $color-hover: color-palette('primary', 500),
      $border-color: $primary-color
    );

    &:active {
      background-color: color-palette('primary', 100);
      color: $primary-color;
    }
  }

  &--ghost {
    @include buttono-style-modifier(
      $background-color: $color-white,
      $background-color-hover: color-palette('primary', 50),
      $color: $primary-color,
      $color-hover: color-palette('primary', 500)
    );

    &:active {
      background-color: color-palette('primary', 100);
      color: $primary-color;
    }
  }

  &.is-disabled,
  &:disabled,
  &[aria-disabled='true'] {
    opacity: 0.5;
  }
}
