// Blog Post Card
//
// Markup: ./c-blog-post-card-styleguide.twig
//
// Styleguide Components.Blog Post Card

.c-blog-post-card {
  overflow: hidden;
  border-radius: $g-border-radius;
  box-shadow: $g-box-shadow-level-1;
  &__image {
    width: 100%;
    height: auto;
  }
  &__meta-info {
    display: flex;
    align-items: center;
    padding: px-to-rem(24px);
  }
  &__user-picture {
    width: px-to-rem(24px);
    height: px-to-rem(24px);
    margin-right: px-to-rem(16px);
  }
  &__user-name {
    color: color-palette('gray', 500);
    font-size: px-to-rem(14px);
    font-weight: 400;
    line-height: 1.57;
  }
  &__header {
    padding-right: px-to-rem(24px);
    padding-left: px-to-rem(24px);
    margin-top: 0;
    margin-bottom: 0;
    color: color-palette('primary', 500);
    font-size: px-to-rem(18px);
    font-weight: 400;
    line-height: 1.44;
  }
  &__description {
    min-height: px-to-rem(90px);
    padding-right: px-to-rem(24px);
    padding-left: px-to-rem(24px);
    margin-top: px-to-rem(16px);
    margin-bottom: px-to-rem(16px);
    color: color-palette('gray', 500);
    font-size: px-to-rem(14px);
    font-weight: 400;
    line-height: 1.57;
  }
  &__link {
    padding-right: px-to-rem(24px);
    padding-bottom: px-to-rem(24px);
    padding-left: px-to-rem(24px);
  }
}
