// Email Subscribe Form
//
// Markup: ./c-email-subscribe-form-styleguide.twig
//
// Styleguide Components.Email Subscribe Form

.c-email-subscribe-form {
  $form-height: px-to-rem(48px);
  $buttono-border-width: px-to-rem(16px);
  display: flex;
  align-items: center;

  &__input {
    height: $form-height;
    flex: 1;
    padding: px-to-rem(13px) px-to-rem(24px);
    border: 0;
    background-color: color-palette('primary', 50);
    border-radius: ($g-border-radius / 2);
    color: color-palette('gray', 700);
    font-size: px-to-rem(14px);
    font-weight: 400;

    @include media-breakpoint-down(sm) {
      width: px-to-rem(45px);
    }
    &::placeholder {
      color: color-palette('gray', 700);
    }
  }
  &__submit {
    min-height: $form-height;
    padding: px-to-rem(8px) px-to-rem(20px);
    border: 0;
    background-color: color-palette('primary', 500);
    border-radius: ($g-border-radius / 2);
    color: $color-white;
    cursor: pointer;
    font-size: px-to-rem(14px);
    font-weight: 600;
  }
}
