<form action="" class="c-email-subscribe-form">
  <input type="email" name="" id="" class="c-email-subscribe-form__input" placeholder="E-mail Adresin">
  <button type="submit" class="c-email-subscribe-form__submit">Gönderin</button>
</form>
